<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
     
    <appSettings>
      <add key="sqlServer" value="USER-20190520KW" />
      <add key="sqlLogin" value="electricdb" />
      <add key="sqlPassword" value="888888" />
      <add key="sqlDatabase" value="electric2014" />
      <add key="classNamespace" value="Electric.Domain.Entities" />
      <add key="destinationFolder" value="Export" />
    </appSettings>
</configuration>